body {background-color: rgb(0, 0, 0);
}
.p1 {border-style: double;
border-color: yellow;
border-width: 30%;
border-left: 30%;
color: orangered;
font-size: 150%;}

.p2{border-style: groove;
border-color: yellow;
border-width: 30%;
border-left: 30%;
color: orangered;
font-size: 150%;}

.p3{border-style: solid;
border-color: yellow;
border-width: 30%;
border-left: 30%;
color: orangered;
font-size: 150%;}

        