body {background-color: rgb(0, 0, 0);
}

#truex {margin-left: 30%}
#truex {width: 40% }
#truex {size: -1000}
#truex {border-color: red;}

.p1 {text-align: center;
border-style: double;
border-color: yellow;
border-width: 40%;
border-left: 30%;
color: orangered;
font-size: 100%;
}

.p2{border-style: groove;
    text-align: center;
border-color: yellow;
border-width: 80%;
border-left: 30%;
color: orangered;
font-size: 100%;}

.p3{border-style: solid;
    text-align: center;
border-color: yellow;
border-width: 30%;
border-left: 70%;
color: orangered;
font-size: 100%;}

        