body {background-color: rgb(0, 0, 0);
}
.p1 {border-style: double;
border-color: yellow;
border-width: 50%;
border-left: 50%;
color: orangered;
font-size: 100%;
}

.p2{border-style: groove;
border-color: yellow;
border-width: 50%;
border-left: 50%;
color: orangered;
font-size: 100%;}

.p3{border-style: solid;
border-color: yellow;
border-width: 50%;
border-left: 50%;
color: orangered;
font-size: 100%;}

        